<div class="ui container">
    <%= form_with scope: :group, url: groups_create_path, local: true, html: {class: "ui form"} do |f| %>
        <div class="field">
            <%= f.label :title %>
            <%= f.text_field :title %>
        </div>

        <%= f.submit "グループ作成", class: "ui button" %>
    <% end %>
</div>