<h1>ようこそ</h1>
<p>トップページです</p>

<% @groups.each do |group| %>
    <div class="ui divided items">
        <div class="item">
            <div class="content">
                <a class="header"><%= link_to group.title, "/groups/#{group.id}" %></a>
                <div class="meta">
                    <span class="cinema">Union Square 14</span>
                </div>
                <div class="description">
                    <p></p>
                </div>
                <div class="extra">
                    <div class="ui label">IMAX</div>
                    <div class="ui label"><i class="globe icon"></i> Additional Languages</div>
                </div>
            </div>
        </div>
    </div>
<% end %>
